@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*Base Reset*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;

}
.container{
    border-top: 5px solid red;
    padding: 20px;
    background-color: #f1f1f1;
    height: 500px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./img00.png);
    background-position: center;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    
    
}
/*.container h2{
    padding: 30px;
    font-weight: bold;
    font-size: 40px;
    
}*/
/* START SIDE PANEL DESIGN*/
.sidePanel{
    width: 0;
    margin-top: 10px;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    left: 0;
    background-color: #1d1414;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    
}
.sidePanel a{
    padding: 15px 15px 15px 60px;
    display: block;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.3s;
}
.sidePanel a:hover{
    color: #f1f1f1;

}
.sidePanel .closebtn{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;

}
.openbtn{
    font-size: 30px;
    cursor: pointer;
    background-color: #1d1414;
    color: #888888;
    padding: 10px 15px;
    border:none;
}
.openbtn:hover{
    color: #f1f1f1;
}
/*END OF SIDE PANEL DESIGN*/

/*START OF ABOUT SECTION*/
.about-section{
    border-top: 5px solid red;
    margin-left: 10px;
    margin-right: 10px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cfcccc;
  
}
.about-section h1{
    font-size: 3.5rem;
}
.about-section p{
    font-size: 1.5rem;
    font-weight: 150;
    font-style: italic;
    color: #be3144;
    word-spacing: 0.2em;
}

/*END OF ABOUT SECTION*/

/*START OF WORK SECTION*/
.work-section{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cfcccc;
    padding: 40px;
    border-top: 5px solid red;
}
.work-section h2{
    margin: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;    
    font-size: 48px;
    font-weight:bolder;
    word-spacing: 0.5em;
}
.work-image{
    width: 60%;
}
.caption{
    
    padding-left:195px;
    padding-right:195px;
    background-color: #f1f1f1;
    margin-bottom: 30px;
}
.caption  h3{
    text-align: center;
    font-size: 30px;
    padding: 5px;
}
.caption p{
    font-size: 20px;
    padding: 5px;
}
/*END OF WORK SECTION*/

/*START OF CONTACT SECTION*/

.contact-section{
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    background-color:#303841;
    border-top: 5px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-section h2{
    padding-top: 20px;
    font-size: 40px;
    font-weight: lighter;
    color: #f0f0f0;
}
.contact-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    
}
.contact-details{
    transition:transform 0.3s ease-out;
    text-decoration: none;
    padding: 15px;
    color: #f0f0f0;
    font-size: 25px;
    font-weight: lighter;
    text-shadow: 2px 2px #1f1f1f;
}
.contact-details:hover{
    transform: translateY(10px);
}

/*END OF CONTACT SECTION*/

/*START OF FOOTER*/

footer{
    border-top: 3px solid red;
    border-bottom: 5px solid red;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    background-color:#303841;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}
footer p{
    color: #f0f0f0;
    font-size: 17px;    
    font-weight: lighter;
    padding: 20px;
}
footer i{
    font-size: 20px;
}
/*END OF FOOTER*/