@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #35BDD0;
    color: #0d0d0d;
    font-family: 'Poppins', Sans-serif;
    min-height: 100vh;
}
header{
    font-size: 1.5rem;
}
header,
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input, form button{
    padding:16px;
    font-size: 32px;
    border: none;
    background: #fff;
}
form button{
    color: #35BDD0;
    background: #fff;
    /* padding: 16px; */
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background: #03c6c6;
    color: #fff;
    /* border: 1px solid #0b5252; */
    font-size: 36px;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin: 8px;
    padding: 10px;
    background: #fff;
    color: #000;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease-in;
}
.todo-item{
    padding: 0px, 8px;
}
.todo li{
    flex:1;
}
.complete-button,
.trash-button{
    background:#2e2525;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 16px;
    font-size: 16px;
    border-radius: 5px;
}
.complete-button{
    color: rgb(33, 241, 33);
    margin-right: 2px;

}
.trash-button{
    color: rgb(241, 33, 33);
    margin-left: 2px;
}
.complete-button:hover{
    color: rgb(0, 255, 0);
    font-size: 20px;
}
.trash-button:hover{
    color: rgb(255, 0, 0);
    font-size: 20px;
}
.fa-check,
.fa-trash{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: .5;
}
.fall{
    transform: translateX(-100px);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}
.select{
    margin: 16px;
    position: relative;
    overflow: hidden;
}
select{
    color:#35BDD0;
    background: #fff;
    font-size: 20px;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after{
    content: "\25bc";
    position: absolute;
    background: #0487bb;
    top:0;
    right:0;
    padding: 1rem;
    pointer-events: none;
    transition: all .3s ease;
}
.select:hover::after{
    background: #ffff;
    color: #03c6c6;
}